
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-family: $brand-font;
  font-size: 2.5rem;
}

h2 {
  font-family: $brand-font;
}

h3 {
  font-family: $menu-font;
  font-size: 1.3rem;
}

span {
  font-family: $menu-font;
}

p {
  font-family: $brand-font;
  color: $second-color;
  padding: 1rem 0;
}
// ------------- MIXIN ------------
@mixin caja {
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,.2);
  color: $color-primario;
  background: $color-claro;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin button {
  border: none;
  border-radius: 2rem;
  background: $light-color;
  font-size: 1rem;
  font-family: $button-font;
  cursor: pointer;
  color: #fff;
  
  &:hover {
    color: $strong-color;
    background: transparent;
    border: 1px solid #fff;
    box-shadow: 4px 3px 8px $second-color;
  }
}

// @mixin titulos($fuente) {
//   @if $fuente == $brand-font {
//   } @else {
//     font-family: $menu-font;
//     font-size: 1.3rem;
//   }
// }

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: calculateRem($size)*1.5;
}

@function get-opacity($color, $nivel) {
  @return rgba($color,$nivel);
}

// @each $header, $size in (h1:30px, h2: 25px, h3: 20px) {
//   #{$header} {
//     font-size: $size;
//     margin: 0;
//     @include titulos($Fuente2)
//   }
// }



@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}