.main {
    background: url(../../dist/images/hero-traverlers.png);
    height: 110vh;
    background-size: cover;
    display: flex;
    justify-content: center;

    &__bg {
      padding-top: 10rem;
      text-align: center;
      color: #fff;
      text-shadow: 4px 3px 8px $second-color;

      .btn {
        margin: 1.8rem;
        padding: 1rem 3rem;
        @include button;
      }
    }
}