$menu-font: 'Abel', sans-serif;
$brand-font: 'Lexend Deca', sans-serif;
$button-font: 'Livvic', sans-serif;
$post-titles: 'Anton', sans-serif;

$strong-color: #222831;
$second-color: #393e46;
$hover-color: #29a19c;
$blog-color: #a3f7bf;

$light-color: linear-gradient(to right, #a3f7bf, #29a19c); 
