$menu-font: 'Abel', sans-serif;
$brand-font: 'Lexend Deca', sans-serif;
$button-font: 'Livvic', sans-serif;
// font-family: 'Anton', sans-serif;
// font-family: 'Josefin Sans', sans-serif;

$strong-color: #222831;
$second-color: #393e46;
$hover-color: #29a19c;
$light-color: #a3f7bf;

// background: linear-gradient(to right, #38ef7d, #11998e); 
